@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    margin: 100px;
}

.main{
    margin-top: 10%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.apresentacao{
    margin-top: 10%;
    text-align: center;
}

.nome{
    color: #4895BF;
    font-size: 45px;
    font-family: "Sour Gummy", sans-serif;
}

.texto{
    color: #1E1C43;
    font-size: 20px;
}

.cadastro{
    border: 2px solid;
    color: rgba(122, 161, 251, 0.324);
    text-align: center;
    border-radius: 8px;
    font-size: 5rem;
    padding: 10px;
    width: 30%;
}

.caixinha{
    border-radius: 5px;
    border: 1px solid;
    width: 100%;
    height: 10%;
    border-color: rgba(122, 161, 251, 0.324);
}

.caixinha::placeholder{
    padding:10px;
    font-size: 18px;
}

.botao{
    border: 1px solid;
    background-color: #1E1C43;
    color: #FFFFFF;
    width: 35%;
    height: 8%;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;
}

.botao:hover{
    background-color:#4895BF;
    color: #1E1C43;
    cursor: pointer;
}

a {
    color: inherit;
}

#mensagem {
    color: #4895BF;
    font-size: 20px;    
}

@media (max-width: 1200px) {
    .main{
        flex-direction: column;
    }

    .cadastro{
        margin: 1px;
        padding: 5px;
        width: auto;
    }

    .caixinha{
    border-radius: 2px;
    }

    .botao{
        height: auto;
        width: auto;
        border-radius: 2px;
    }

    .nome{
        font-size: 31px;
    }
    
    .texto{
        font-size: 13px;
    }
}